<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ITmanager.SHOWlogs</title>
</head>
<body>
<div align="right">User  {{username}}  <a href="/logout/">Logout</a></div>
<!--butto method="POST" type="button">PRO-sem</button-->
<form method="POST"> 

{{input_project}}


<input type="submit" value="Return"/>
</form>

<hr>


<hi>
<B>PROJECT List:</B>
<pre>
   {%for project in projects%}
	{{project}}
   {%endfor%}
</pre>
</hi>
<hi>ALL PROJECTS LIST COUNT {{count}}</hi>
<hr>
<pre>


</body>
</html>
